- 
	const blocks = [
		{
			icon: "user",
			title: "Users",
			text: "Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum."
		},
		{
			icon: "map-marker",
			title: "Location",
			text: "Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum."
		},
		{
			icon: "envelope",
			title: "Contact",
			text: "Maecenas sed diam eget risus varius blandit sit amet non magna."
		}
	]
	
doctype html
html(lang="pt-br")
	include head.pug
	body
		header(class="")
			div(class="header clearfix container")
				include menu.pug
		section
			div(class="container jumbotron")
				h1 Jumbotron heading
				p(class="lead")
					| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				a(class="btn btn-lg btn-success" href="#" role="button")
					i(class="fa fa-sign-in")
					|
					| Sign up today

		section
			div.container
				div(class="row marketing")
					for block in blocks
						div(class="col-lg-4")
							h4
								i(class=`fa fa-${block.icon}`)
								|
								|
								=block.title
							|
							| 
							p= block.text
							|
		include footer.pug
